body
{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: Tahoma, serif;
}
article
{
    background-color: lightgray;
    margin-top: -15px;
}
article > header > h2
{
    color: #444444;
    text-decoration: underline;
    padding-top: 30px;
}
section > header
{
    background: url("../Images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
    margin-left: -5px;
    margin-right: -5px;
}
section > header > h1
{
    color: white;
    margin-left: 10px;
}
nav
{
    background-color: #444444;
    color: black;
    margin-left: -5px;
    margin-right: -5px;
}
nav > a
{
    color: #56ff92;
}
section > footer
{
    margin-top: 5px;
}