html
{
    background-color: gray;
}

h1
{
    background-color: lightgrey;
    padding: 5px;
    border-radius: 10px;
}

body, h1:first-child {
    border-radius: 0;
    margin: 0;
}

@media (min-width: 400px) {


}