body
{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: Tahoma, serif;
    background-color: lightgray;
}
h1
{
    background-color: #444444;
    width: max-content;
}
h2
{
    background-color: #444444;
    width: max-content;
}