body
{
    width: 95%;
    margin: auto;
}
section
{
    border: black solid 1px;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    float: left;
    position: relative;
    margin: 10px;
}